@model List<webIDZ.Models.Entities.Catch>
    @{
        ViewBag.Title = "CatchesList";
    }
    <h2>Список отловов</h2>
    @if (User.IsInRole("Admin"))
    {
        <div style="margin-top: 50px;">
            @Html.ActionLink("Добавить новую запись", "CreateCatch", "main", new { @class = "btn btn-default" })
        </div>
    }

    <table class="table table-striped" style="margin-top: 10px;">
        <thead>
            <tr>
                <th class="text-center">Дата отлова</th>
                <th class="text-center">Район</th>
                <th class="text-center">Место</th>
                <th class="text-center">Поймано особей</th>
                <th class="text-center"> </th>
                @if (User.IsInRole("Admin"))
                {
                    <th class="text-center"> </th>
                    <th class="text-center"> </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model)
            {

                <tr class="text-center" style="border: 1px solid lightgray;">
                    <td style="font-size: medium;">@c.DateCatch.ToShortDateString()</td>
                    <td style="font-size: medium;">@c.Distrtict</td>
                    <td style="font-size: medium;">@c.Place</td>
                    <td style="font-size: medium;">@c.Catched_Amount</td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td>@Html.ActionLink("Подробнее", "CatchDetails", "main", new { catchID = c.ID_Catch }, new { @class = "btn btn-default" })</td>

                        if (User.IsInRole("Admin"))
                        {
                            <td>@Html.ActionLink("Редактировать", "EditCatch", new { controller = "main", catchID = c.ID_Catch }, new { @class = "btn btn-default" })</td>
                            <td>@Html.ActionLink("Удалить", "DeleteCatch", new { controller = "main", catchID = c.ID_Catch }, new { @class = "btn btn-default" })</td>
                        }
                    }
                </tr>

            }
        </tbody>
    </table>