@model webIDZ.Models.Entities.Catch

@{
    ViewBag.Title = "CatchDetails";
}

<h2>Отлов от @Model.datacatch</h2>
<div>
    <h4>Подробная ифнормация</h4>
    <hr />
    <dl class="dl-horizontal" style="font-size: medium;">
        <dt>
            @Html.DisplayNameFor(model => model.datacatch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datacatch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zones.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stations.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Biotope)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Biotope)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distrtict)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distrtict)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coords_X)
        </dt>

        <dd>
            @Model.Coords_X
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coords_Y)
        </dt>

        <dd>
            @Model.Coords_Y
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Traps_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Traps_Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catched_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catched_Amount)
        </dd>



    </dl>
</div>



<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Посмотреть комментарии
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Комментарии</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               @Html.DisplayFor(m => m.Comments)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Назад", "CatchesList") |
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Редактировать", "EditCatch", new { controller = "main", catchID = Model.ID_Catch }, null);
    } |
    @if (User.IsInRole("Admin")) { 
        @Html.ActionLink("Cписок мышей", "MiceList", new { controller = "main", catchID = Model.ID_Catch }, null);
        @*@Html.ActionLink("Добавить новую мышь", "CreateMouse", new { controller = "main", catchID = Model.ID_Catch }, new { @class = "btn btn-default" })*@
    }
    @*<a href="https://geotree.ru/coordinates?mlat=@Model.Coords_X&mlon=@Model.Coords_Y&c=">Посмотреть на карте</a>*@
</p>



